* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 200px auto;
}

h4 {
/* 1. h4 태그의 글씨 크기는 20px, 굵기는 bold, 스타일은 Arial 입니다.  */
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

p {
/* 2. p의 글씨 스타일은 Arial 입니다. */
  font-family: Arial;
}

.card {
/* 3. 카드의 너비는 700px, 테두리 굵기는 2px, 스타일은 dashed, 색상은 black 입니다. */
  margin: auto;
  width: 700px;
  border: 2px dashed black;
}

.card-nav {
/* 4. 글씨를 중앙에 정렬 합니다. 배경색은 자유롭게 작성합니다. */
  text-align: center;
  background-color: rgb(95, 173, 87);
}

.card-header {
/* 5. border와 content사이의 간격은 18px 입니다. */
  padding: 18px;
}

.card-img {
/* 6. 이미지의 너비는 부모 태그의 너비의 100%를 차지하고, 높이는 330px 입니다. */
  display: block;
  width: 100%;
  height: 330px;
}

.card-img-description {
/* 7-1. 이미지 설명란의 높이는 70px이고, 배경색은 자유롭게 작성합니다. */
/* 7-2. 글씨의 색상은 흰색이며 수직, 수평 중앙에 정렬 되어 있습니다. */
  height: 70px;
  text-align: center;
  line-height: 35px;
  background-color: rgb(95, 173, 87);
  color: white;
}

.card-body {
/* 8. border와 content사이의 간격은 18px 입니다. */
  padding: 18px;
}


.card-body-title {
/* 9-1. 본문 제목란의 정렬을 위해 position을 relative로 설정 합니다. */
  position: relative;
}

.card-body-title > h4 {
/* 9-2. 본문 제목란의 h4 태그의 display는 inline 입니다.  */
  display: inline;
}

.card-body-title > p {
/* 9-3. 본문 제목란의  p 태그의 display는 inline 입니다.  */
/* 9-4. position은 absolute이며, 우측 끝에 위치합니다. */
  position: absolute;
  right: 0;
  top: 10px;
  display: inline;
}

.card-body-content {
/* 10-1. 상단 마진만 10px이며, border와 content 사이 간격은 10px 입니다. */
/* 10-2. 배경 색상은 자유롭게 작성합니다. */
  margin-top: 10px;
  padding: 10px;
  background-color: linen;
}

.card-footer {
/* 11-1. 글자는 우측 끝에 정렬되며, 색상은 흰색입니다. */
/* 11-2. border와 content사이의 간격은 10px 이고, 배경 색상은 자유롭게 작성합니다. */
  text-align: end;
  padding: 10px;
  background-color: rgb(27, 105, 19);
  color: white;
}
