* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 20px; 
  font-weight: bold;
  font-family: Arial;
}

p {
  font-family: Arial;
}

.container {
  width: 700px;
  height: 662px;
  margin: 200px auto;
  border-style: dashed;
  border-width: 2px;
}

.card {
  position: relative;
}

.card-nav {
  position: relative;
  background-color: rgba(2, 131, 41, 0.835);
  text-align: center;
  vertical-align: middle;
}

.card-header {
  position: relative;
  margin: 0px 18px;
  top: 18px;
  height: 400px;
  
}

.card-img {
  position: relative;
  display: block;
  width: 660px;
  height: 330px;
}

.card-img-description {
  position: relative;
  padding-top: 7px;
  width: 660px;
  height: 70px;
  text-align: center;
  color : ivory;
  background-color: rgba(15, 153, 22, 0.849);
}

.card-body {
  position: relative;
  top: 18px;
  bottom: 18px;
  margin: 36px 18px 18px;
}

.card-body-title {
  position: relative;
}

.card-body-title p {
  position: absolute;
  left: 580px;
  bottom: 2px;
}

.card-body-content {
  position: relative;
  padding: 10px;
  font-size: 15px;
  width: 664px;
  height: 80px;
  top : 8px;
  background-color: rgb(255, 236, 219);
}

.card-footer{
  position: relative;
  top: 28px;
  height: 35px;
  text-align: end;
  background-color: rgb(2, 102, 2);
  padding-right: 18px;
  padding-top: 7px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  
}

