<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>로또 당첨 횟수를 알아보자.</h1>
  <hr>
  {% comment %} <h2>이번 회차 당첨 번호 : {{ random_num }} + {{ bonus }}</h2> {% endcomment %}
  <h2>이번 회차 당첨 번호 : {{ winno }} + {{ bonus }}</h2>
  <ul>
    <li>1등 : {{ win.0 }}</li>
    <li>2등 : {{ win.1 }}</li>
    <li>3등 : {{ win.2 }}</li>
    <li>4등 : {{ win.3 }}</li>
    <li>5등 : {{ win.4 }}</li>
    <li>꽝 : {{ win.5 }}</li>
  </ul>
</body>
</html>