{% extends 'base.html' %}

{% block content %}
  <h1 class="fw-bold">DETAIL</h1>
  {% comment %} <h2>{{ article.pk }}번째 글</h2> {% endcomment %}
  <hr>
  <h1>{{ article.title }}</h1>
  <p>{{ article.content }}</p>
  {% comment %} <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p> {% endcomment %}
  <p>작성일 : {{ article.created_at }}</p>
  <p>수정일 : {{ article.updated_at }}</p>

  <a href="{% url 'articles:edit' article.pk %}">EDIT</a>
  <form class="d-inline" action="{% url 'articles:delete' article.pk %}" method='POST'>
    {% csrf_token %}
    <a href="{% url 'articles:index' %}">DELETE</a>
    {% comment %} <button class="btn btn-danger">DELETE</button> {% endcomment %}
  </form>
  <br>
  <a href="{% url 'articles:index' %}">BACK</a>
{% endblock %}
