{% extends 'base.html' %}

{% block content %}
  <h1 class='fw-bold'>{{ person.username }}님의 프로필</h1>
  <hr>

  <div>
    <div class='fs-3'>
      팔로잉 : {{ person.followings.all|length }}명
    </div>
    {% for follow in person.followings.all %}
      <p class='fs-5'>팔로잉 : {{ follow }}</p>
    {% endfor %}

    <div class='fs-3'> 
      팔로워 : {{ person.followers.all|length }}명
    </div>
    {% for follower in person.followers.all %}
      <p class='fs-5'>팔로워 : {{ follower }}</p>
    {% endfor %}

    {% if user != person %}
      <div>
        <form action="{% url 'accounts:follow' person.pk %}" method="POST">
          {% csrf_token %}
          {% if user in person.followers.all %}
            <input type="submit" value="Unfollow">
          {% else %}
            <input type="submit" value="Follow">
          {% endif %}
        </form>
      </div>
    {% endif %}
  </div>
  <br>


  <h4 class='fw-bold'>{{ person.username }}의 게시글</h4>
  {% for article in person.article_set.all %}
    <div class='fs-5'>{{ article.title }}</div>
    <p>좋아요 수 : {{ article.like_users.count }}</p>
  {% endfor %}
  <br>
  
  <h4 class='fw-bold'>{{ person.username }}의 댓글</h4>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}
  <br>

  <h4 class='fw-bold'>{{ person.username }}가 좋아요한 게시글</h4>
  {% for article in person.like_articles.all %}
    <div class='fs-5'>{{ article.title }}</div>
  {% endfor %}
  <br>

  <hr>
  <a href="{% url 'articles:index' %}">[back]</a>
{% endblock content %}